<h1>Create a New Account</h1>

<form #suform="ngForm" (ngSubmit)="onSubmit(suform)">

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" name="firstName" ngModel required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Surname</mat-label>
    <input matInput type="text" name="lastName" ngModel required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>E-mail</mat-label>
    <input matInput type="email" name="email" ngModel required email>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" ngModel required >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Bank Details</mat-label>
    <input matInput type="text" name="cc" ngModel required >
  </mat-form-field>


  <button mat-raised-button color="primary" type="submit" [disabled]="!suform.valid" > Sign Up </button>


</form>

