<div class="cream-bg">
  <div class="container">
    <div class="row g-3">
      <div class="col-md-4 col-6" *ngFor="let k of keys">
        <div class="card">
          <img src="assets/images/backgroundimg.jpg" class="card-img-top img-fit" alt="Cups of coffee">
          <div class="card-body">
            <h5 class="card-title">{{shoppingCart[k].product.productName }}</h5>
            <p class="card-text">{{shoppingCart[k].product.productDescr }}</p>
            <h4 class="card-title mb-3">$<strong>{{shoppingCart[k].product.productPrice}}</strong></h4>
            <div class="text-end">



                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
