<h2>Customers</h2>


<div class="row">
  <div class="col-7">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let customer of customers">
          <td scope="row">
            <a class="nav-link" [routerLink]="['/customers', customer.id]">{{ customer.id }}</a>
          </td>
          <td> {{ customer.firstName }}</td>
          <td>{{ customer.lastName }}</td>
          <td class="text-right">
            <button class="btn btn-primary" (click)="viewDetails(customer)"  >&gt;&gt;</button>
          </td>
        </tr>


      </tbody>
    </table>
  </div>

  <div class="col-5">
    <app-customer-details [customer]="selectedCustomer"></app-customer-details>
  </div>

</div>


